/* components */
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/analyze.css";
@import "./components/banner.css";
@import "./components/cta.css";
@import "./components/footer.css";

/* Price Page Styles */
@import "../pages/price/price.css";
/* Marketing Page Styles */
@import "../pages/marketing/marketing.css";
/* About us Page styles */
@import "../pages/about/about.css";


/* colors */
:root {
  --main-text-color: #37383c;
  --secondary-text-color: #6b7c93;
  --main-bg-color: #87dfd6;
  --purple-color: #6C63FF;
  --white-color: #f7f7f7;
  --grey-color: #F0F0FF;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  font-size: 17px;
  color: var(--main-text-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
p {
  color: var(--secondary-text-color);
  line-height: 2rem;
}

/* Button Styles */
.btn {
  margin-top: 4rem;
  color: var(--white-color);
  background-color: var(--purple-color);
  outline: none;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  transition: .5s ease-in-out;
  color: var(--purple-color);
  background-color: var(--white-color);
} 

/* button to scroll to top of page styles */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: var(--purple-color);
  color: var(--main-text-color);
}


/* Desktop Menu */
@media screen and (min-width: 768px) {
  h1 {
      font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
      font-size: 1.5rem;
      line-height: 2rem;
  }
  .container {
    padding: 0;
  }
}



