/* header styles */
header {
  padding: 10px 0;
  background-color: var(--purple-color);
  border-bottom: 1px solid var(--purple-color);
}
.navbar {
  font-size: 18px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: black;
}
.nav-links:hover {
    color: lightgrey;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
.navbar-toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 18px;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.active {
  display: block;
}
/* Desktop Menu */
@media screen and (min-width: 768px) {
  header {
    border-bottom: none;
  }
    .navbar-toggle {
        display: none;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding-bottom: 0;
    }
    .logo {
        margin-top: 0;
    }
    .main-nav {
        display: flex;
        margin-right: 20px;
    }
    .nav-links {
        margin-left: 20px;
    }
}