#hero {
    background-color: var(--purple-color);
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
}
#hero h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
#hero p {
    margin: 0 2rem;
    color: var(--white-color)
}

/* Desktop Menu */
@media screen and (min-width: 768px) {
    #hero h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    #hero p {
        font-size: 1.5rem;
    }
}