/* components */
@import "../../css/components/header.css";

.hero-price-title {
    padding: 5rem 0;
    background-color: var(--purple-color);
}

.hero-price-title h1 {
    text-align: center;
    color: var(--white-color);
}

#hero-price h4 {
    text-align: center;
    margin-bottom: 1rem;
}

#hero-price h2 {
    text-align: center;
    color: var(--purple-color);
}

#hero-price img {
    width: 80%;
    margin: 0 auto;
}

#hero-price .row {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-pirce .col-1 {
    flex-basis: 1;
}

#hero-price .col-1 h2 {
    margin-bottom: 1rem;
}

#hero-price .col-2 {
    flex-basis: 1;
}

/* change order on mobile */
#hero-price .second {
    order: 2;
}
#hero-price .text {
    order: 1;
}

/* button styles */
#hero-price .button {
    text-align: center;
    margin-bottom: 5rem;
}

/* additional section style */
#additional {
    padding: 4rem 0;
    background-color: var(--purple-color);
}

#additional h2 {
    text-align: center;
    color: var(--white-color);
    padding-bottom: 2rem;
}

#additional h3 {
    margin-bottom: .5rem;
}

#additional .spacer {
    margin-top: 3rem;
}

#additional ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

#additional i {
    margin-top: .2rem;
    margin-right: .5rem;
}

#additional li {
    color: var(--main-text-color);
    display: flex;
}

#additional p {
    color: var(--white-color);
}

/* Desktop View */
@media screen and (min-width: 768px) {
    #hero-price .row {
        display: flex;
        flex-direction: row;
    }
    /* change order on desktop */
    #hero-price .second {
    order: 1;
    }
    #hero-price .text {
    order: 2;
    }

    /* additional styles */
    #additional li {
        color: var(--main-text-color);
        display: flex;
    }
}